{% extends "layout.html" %}
{% load static %}
{% block Title %}
Projects Page
{% endblock %}

{% block content %}
<div class="min-h-screen bg-fuchsia-50 flex items-center justify-center px-4 py-10 lg:px-6 lg:py-12">
  <div class="max-w-4xl bg-white shadow-md rounded-xl p-8 space-y-6 lg:space-y-8">
    <a class="text-4xl font-bold  " href= "{% url "home" %}"> ← </a>
    <h1 class="text-4xl lg:text-6xl font-bold text-fuchsia-600 mb-4 mt-4 lg:mb-6">My Projects</h1>

    <ul class="list-decimal list-inside text-gray-800 text-lg lg:text-3xl space-y-4 lg:space-y-6">

      <li>
        <span class="font-semibold">Portfolio Website</span><br>
        <span class="text-gray-600">Built using Tailwind CSS, Django, and deployed with hosting support. It showcases skills, education, projects, and certifications.</span>
      </li>

      <li>
        <span class="font-semibold"><a href="{% static 'images/SurveyProject.jpg' %}" target="_blank" class="text-blue-600 underline hover:text-blue-900">Social Media Survey Tool</a></span><br>
        <span class="text-gray-600">Developed using Python’s Tkinter (GUI) and various data libraries to collect and analyze user opinions about social media platforms.</span>
      </li>

      <li>
        <span class="font-semibold">Learning-Based Projects</span><br>
        <span class="italic text-gray-600">Updating soon...</span>
      </li>

    </ul>

  </div>
</div>
{% endblock %}
